<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookingMapper">
	<select id="getCurrBookingNo" resultType="_int">
		SELECT SEQ_BOOKING_NO.CURRVAL FROM DUAL
	</select>
	<select id="findOneByNo" resultType="BookResultVO">
    	SELECT * FROM BOOKING_TBL LEFT OUTER JOIN MEMBER_TBL ON MEMBER_TBL.USER_ID = BOOKING_TBL.USER_ID LEFT OUTER JOIN EXHIBIT_TBL ON EXHIBIT_TBL.EXHIBIT_NO = BOOKING_TBL.EXHIBIT_NO WHERE BOOKING_NO = #{bookingNo }
    </select>
    <insert id="insertBooking">
    	INSERT INTO BOOKING_TBL VALUES(SEQ_BOOKING_NO.NEXTVAL, #{userId }, #{exhibitNo }, #{bookingDate }, #{bookingPhone }, #{bookingEmail }, #{peopleNo }, #{bookingName })
    </insert>
</mapper>